In [1]:
pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in c:\users\marce\anaconda3\lib\site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\marce\anaconda3\lib\site-packages (from SQLAlchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\marce\anaconda3\lib\site-packages (from SQLAlchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [26]:
import mysql.connector
from sqlalchemy import create_engine
from getpass import getpass

import pandas as pd

In [27]:
my_password = getpass()

In [28]:
cnx = mysql.connector.connect(user = "root", 
                              password=my_password,
                              host = "localhost",
                              database = "sakila")
cnx.is_connected()

if cnx.is_connected():
    print("Conexão estabelecida com sucesso!")
else:
    print("Falha na conexão.")

Conexão estabelecida com sucesso!

In [29]:
cursor = cnx.cursor()

In [30]:
query = ("""SELECT * FROM sakila;""")

In [31]:
query = (""" SELECT MONTH(payment_date) AS Month,
                    YEAR(payment_date) AS Year,
                    SUM(amount) AS Total_amount
            FROM payment
            GROUP BY Month, Year; 
         """)
cursor.execute(query)

In [32]:
results = cursor.fetchall()
results

[(5, 2005, Decimal('4823.44')),
 (6, 2005, Decimal('9629.89')),
 (7, 2005, Decimal('28368.91')),
 (8, 2005, Decimal('24070.14')),
 (2, 2006, Decimal('514.18'))]

In [33]:
results = cursor.fetchall()
results

[]

In [20]:
def rentals_month(cnx, month, year):
    query = (f"""
    SELECT rental_id, rental_date, customer_id, return_date
    FROM rental
    WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year}
    """)
    cursor.execute(query)

In [34]:
def rental_count_month(df, month, year):
    rental_count = df.groupby('customer_id').size().reset_index(name=f'rentals_{month:02d}_{year}')
    return rental_count

In [35]:
def compare_rentals(df1, df2):
    combined_df = pd.merge(df1, df2, on='customer_id', how='inner')
    combined_df['difference'] = combined_df.iloc[:, 1] - combined_df.iloc[:, 2]
    return combined_df

In [37]:
cnx.close()